*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;


}

header{
    background-color: #1f2937;
    padding-left: 100px;


}
.main{
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
    
}

.container .header-link {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;


}
.item{
    margin:5px;
    color: #ffffff;
}

.container .logo{
    font-size: 24px;
    color: #f9faf8;
}
.image-main{
display: flex;
height: 300px;
width: 500px;
border: 3px;
border-radius: 5px;
border-style: solid;
border-color: #3882f6;
}
.look{
    display: flex;
   flex-direction: row;
   justify-content: center;
}
.pic-look{
    display: flex;
    height: 150px;
border: 3px;
border-radius: 5px;
border-style: solid;
border-color: #3882f6;
}
.cap-look{
  width: 150px;
}
.qouted{
    background-color: #e5e7eb;
    
    margin-bottom: 20px;
    padding: 100px;
}
blockquote{
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
}
cite{
float: right;

}
.action{
    background-color: #3882f6;
    padding:50px;
    margin: 100px;
    color:#ffffff;
    margin-bottom: 50px;
}
.get-look{
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-bottom: 20px;
justify-content: center;
}
footer{
    background-color: #1f2937;
    padding: 10px;
    text-align: center;
    color: #f9faf8;

}
.action .button{
    
    background-color: #3882f6;
    padding: 5px;
    color:#ffffff;
    border-color:#ffffff ;
    float: right;
    border-radius: 5px;
    width: 100px;
    

    
    

    

}
.button{
    background-color: #3882f6;
    padding: 5px;
    color:#ffffff;
    border-color:#ffffff ;
    border-radius: 5px;
    width: 100px;

}